// #loading{
//     opacity: 1;
// 	background-color: rgb(255, 255, 255);
// 	height: 100%;
// 	width: 100%;
// 	position: fixed;
// 	z-index: 99999;
// 	margin-top: 0px;
//     top: 0px;
// 	transition: 0.6s all;
// 	animation: smoothieHide 2s ease-in-out both alternate;
// }
// #loading-center{
// 	width: 100%;
//     height: 100%;
//     transition: 0.6s all;
// 	position: relative;
// 	}
// #loading-center-absolute {
//     transition: 0.6s all;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	height: 118px;
// 	width: 118px;
// 	margin-top: -59px;
// 	margin-left: -59px;

// }
// .object{
// 	width: 20px;
// 	height: 20px;
// 	background-color: #ff9000;
// 	margin-right: 20px;
// 	float: left;
// 	margin-bottom: 20px;
// 	-moz-border-radius: 50% 50% 50% 50%;
// 	-webkit-border-radius: 50% 50% 50% 50%;
// 	border-radius: 50% 50% 50% 50%;
// 	}
// .object:nth-child(3n+0) {
// 	margin-right: 0px;
// }


// #object_one {
//     opacity: 1;
// 	-webkit-animation: animate 1s -0.9s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.9s ease-in-out infinite ;
// 	}
// #object_two {
//     opacity: 1;
//     -webkit-animation: animateLoading 1s -0.8s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.8s ease-in-out infinite ;
// 	}
// #object_three {
//     opacity: 1;
//     -webkit-animation: animateLoading 1s -0.7s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.7s ease-in-out infinite ;
// 	}
// #object_four {
//     opacity: 1;
//     -webkit-animation: animateLoading 1s -0.6s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.6s ease-in-out infinite ;
// 	}
// #object_five {
//     opacity: 1;
//     -webkit-animation: animateLoading 1s -0.5s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.5s ease-in-out infinite ;
// 	}
// #object_six {
//     -webkit-animation: animateLoading 1s -0.4s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.4s ease-in-out infinite ;
// 	}
// #object_seven {
//     opacity: 1;
//     -webkit-animation: animateLoading 1s -0.3s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.3s ease-in-out infinite ;
// 	}
// #object_eight {
//     -webkit-animation: animateLoading 1s -0.2s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.2s ease-in-out infinite ;
// 	}
// #object_nine {
//     -webkit-animation: animateLoading 1s -0.1s ease-in-out infinite ;
// 	animation: animateLoading 1s -0.1s ease-in-out infinite ;
// 	}

// @-webkit-keyframes animateLoading {
 

//   50% {
// 	-ms-transform: scale(1.5,1.5); 
//    	-webkit-transform: scale(1.5,1.5); 
//     transform: scale(1.5,1.5); 
// 	  }
 
//   100% {
//     opacity: 0;
// 	-ms-transform: scale(1,1); 
//    	-webkit-transform: scale(1,1); 
//     transform: scale(1,1); 
// 	  }

// }

// @keyframes animateLoading {
//   50% {
// 	-ms-transform: scale(1.5,1.5); 
//    	-webkit-transform: scale(1.5,1.5); 
//     transform: scale(1.5,1.5); 
// 	  }
 
//   100% {
//     opacity: 1;
// 	-ms-transform: scale(1,1); 
//    	-webkit-transform: scale(1,1); 
//     transform: scale(1,1); 
// 	  }
  
// }
// @keyframes smoothieHide {
// 	20%{
// 		transition: 1s ease;
// 		opacity: 1 !important;
// 		background-color: rgb(255, 255, 255);
// 	}
// 	40% {
// 		transition: 1s all !important;
// 		opacity: 1 !important;
// 		background-color: rgba(255, 255, 255, 0.493);
// 	}
// 	50%{
// 		opacity: 0.8 !important;
// 		transition: 1s all !important;
// 		background-color: rgba(255, 255, 255, 0.521) !important;
// 	}
// 	75%{
// 		opacity: 0.5 !important;
// 		transition: 1s all !important;
// 		background-color: rgba(255, 255, 255, 0.822) !important;
// 	}
// 	100%{
// 		visibility: hidden;
// 		background: none;
// 		transition: 0.6s all !important;
// 		opacity: 0 !important;
// 		// background-color: #ffffffc9 !important;
// 	}
// }